<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Customers-List</title>
</head>
<body>
<div class="container">
    <h3>Customer Directory</h3>
    <hr>
    <a th:href="@{/addCustomerForm}"
       class="btn btn-primary btn-sm mb-3">
        Add Customer
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
    <tr>
        <th> <u> First Name </u> </th>
        <th> <u> Last Name  </u> </th>
        <th> <u> Email  </u> </th>
        <th sec:authorize="hasRole('ROLE_ADMIN')"> <u> Actions </u> </th>
    </tr>
    </thead>

    <tbody>
    <th:block  th:each="tempCustomer:${theCustomerList}">
        <tr>
            <td th:text="${tempCustomer.firstName}">  </td>
            <td th:text="${tempCustomer.lastName}">  </td>
            <td th:text="${tempCustomer.email}">  </td>

            <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/customerUpdate(customerId=${tempCustomer.id})}"   class="btn btn-info btn-sm"> Update   </a>   </td>

            <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/customerDelete(customerId=${tempCustomer.id})}"  class="btn btn-danger btn-sm"
                                                          onclick="if (!(confirm('Are you sure want to delete this Customer ?'))) return false">
                Delete   </a>   </td>
        </tr>

    </th:block>


    </tbody>
</table>
</div>
</body>
</html>